.bigger-container{
        max-width: 70vw;
    padding: 0 0 2vh 0;
}
.bigger-container.border-wrapper{
    max-width: 90%;
}
@media screen and (max-width:1366px){
    .bigger-container{
        max-width: 80vw;
    }
}
@media screen and (max-width: 768px){
    .bigger-container {
        max-width: 100vw;
    }
}
.background-white{
    background: #fff;
}
.search-form-row,.bigger-container.border-wrapper{
        padding-bottom: 3rem;
}
@media screen and (max-width: 768px){
    .search-form-row,.bigger-container.border-wrapper{
        padding: 0 1rem 3rem 1rem;
    }
}
.bigger-container main{
    padding: 0 5rem;
}
.tq-gradient{
    background: rgb(45,161,173);
    background: linear-gradient(90deg, rgba(45,161,173,1) 0%, rgba(73,172,181,1) 30%, rgba(89,182,190,1) 55%, rgba(89,182,190,1) 100%);
    border-bottom: 8px solid $secondary;
}
.navbar-brand{
    color: #fff;
     display:flex;
    justify-content:center;
    align-items:center;
    height:50px;
    width:100%;
}
/*Subnav*/
.sub-nav {
    margin: 2rem 0;
}
.sub-nav li:first-child a{
    position:relative;
    dispaly: block;
    
}
.sub-nav li:first-child a:after{
    content: "";
    display: block;
    height: 50%;
    border-right: 1px solid #C5CDCC;
    position: absolute;
    top: 25%;
    right: 0;
    
}
.sub-nav li a{
    color: $grey;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0 2rem;
}
.sub-nav li a.active{
    color: $primary;
    
}

.search-contacts{
    font-family: 'Font Awesome 5 Free', "Nunito", sans-serif;
    font-weight: 600;
    padding: 0 1rem;
}


main.modified-main-padding{
    padding-top: 0!important;
}
@media screen and (max-width:768px){
    main{
        padding:0 1rem !important;
    }  
   .bigger-container main:not(.modified-main-padding){
        padding:0 1rem;
    }    
}

hr.colored{
    border-top: 2px solid $secondary;
}
.card-container{
    margin-bottom: 2rem;
}
.card-container:hover {
    cursor:pointer;
}
.dashed-border{
    border: 1px dashed $grey;
}

.card-icon{
    font-size: 1.3em;
}
.mr-0-5{
    margin-right: 0.5rem;
}

/* Contact forms*/
.delete-contact:hover{
    cursor: pointer;
}
.form-control.bigger-input{
    height: 60px;
}
@media screen and (max-width:768px){
    .append .form-group:not(:last-child){
       border-bottom: 1px solid $primary;
       padding-bottom: 0.5rem;
    }
    .append .row .col-md-6 .bigger-input{
        margin-bottom: 1rem;
    }
}
figure{
    position:relative
}

.rotated-left{
     transform: rotate(-90deg);
     font-size: 1.5rem;
}
.circle-div{
    position:relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    background: $secondary;
}
.add-number .circle-div{
    display: inline-flex;
}
.add-number .circle-div{
    display: inline-block;
    width: auto;
}
.add-number-wrapper{
    margin: 0.5rem 0 2rem 0;
}
.vertical-align{
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-circle{
    position:relative;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
   border: 1px solid $primary;
}
@media screen and (max-width:768px){
  .delete-circle{
        width:10%;
        padding-top: 10%;
        margin-top: 0.5rem;
    }
}
.delete-circle .fas{
    position: absolute;
    top: 0;
    color: $primary;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-upload-figcaption {
  position: absolute;
  top: 0;
  color: #fff;
  width: 100%;
  height:100%;
  padding-left: 5px;
//   padding-bottom: 5px;
font-size: 1.5rem;
  text-shadow: 0 0 10px #000;
   display: flex;
  align-items: center;
  justify-content: center;
}
input.img-upload {
    position: absolute;
    height: 100%;
    width: auto;
    opacity: 0;
    top: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
}
.croppie-container .cr-image{
    position: initial;
}

label.icon-before::before{
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    margin-right: 1rem;

}
label.icon-before.full-name::before{
    content: "\f007";
}

label.icon-before.email::before{
    content: "\f0e0";
}
label.icon-before.number::before{
    content: "\f095";
}

/*show*/
.mt-1{
    margin-top: 1rem !important;
}
.ml-2{
    margin-left: 2rem;
}
@media all and (max-width:768px){
    .ml-2.name{
    margin-left: 2rem !important;
}
}
.half-screen-height{
    min-height: 50vh;
}
.grey{
    color: $grey;
}
.name{
    font-size: 2rem;
}
.underline{
    text-decoration: underline;
}
.bolded{
    font-weight: bold;
}
.icons-align{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3rem;
}
@media all and (max-width:768px){
    .icons-align {
        justify-content: center;
    }
}
.icons-align .card-icon{
   font-size: 1.3rem;
}
.font-size-1-2{
    font-size: 1.2rem;
}
.font-size-1-5{
    font-size: 1.5rem;
}
.no-underline:hover{
    text-decoration: none;
}
.colored:hover, .colored:hover > p,.colored p:hover,.colored:hover > .col{
    color: $primary;
}

/* Favorites*/
div.alert-info{
    padding: 2rem 3rem;
    font-size: 1.5rem;
    background-color: $secondary;
    border-color: $secondary;
    color: #fff;
}

/*Contact cards */

.card-container:hover > .card{
    box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}
.card-container:hover  .contact-name{
    color: $primary !important;
}